---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HeroSection from '../../components/HeroSection.astro';
---

<Layout title="Blog" description="Stay tuned for exciting updates and insights from facein.">
  <Header />
  <main>
    <HeroSection 
      title="Stay " 
      highlightText="Tuned! "
      description="We're working on some great content for you. Check back soon for the latest news, insights, and updates from Facein."
    />
  </main>
  <Footer />
</Layout>